/** six_box section **/

.six_box {
    /* background: url(../assets/images/service_bg.jpg); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bluedark_bg {
    background: #183661;
}

.yellow_bg {
    background: #f2c119;
}

.six_box .six_probpx {
    text-align: center;
    padding: 50px 0;
}

.six_box .six_probpx i {
    display: block;
}

.pa_left {
    padding-left: 0;
    padding-right: 0;
}

.six_box .six_probpx span {
    color: #fff;
    font-size: 17px;
    line-height: 32px;
    text-transform: uppercase;
    font-weight: bold;
}


/** end six_box section **/